@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply overflow-x-hidden;
  }

  .wrapper {
    grid-template-columns: 1fr;
  }

  .sidebar {
    display: none;
  }

  .wrapper.menu-open .sidebar {
    display: block;
  }

  .wrapper.menu-open {
    grid-template-columns: 250px 100vw;
  }

  :is(h1, h2, h3, h4, h5, h6) {
    @apply font-serif;
  }

  :is(h1, h3, h4, h5, h6) {
    @apply font-bold;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  h5 {
    @apply text-base;
  }

  h6 {
    @apply text-sm;
    @apply text-primary-100;
  }
}

@layer components {
  .primary-btn {
    @apply border-none;
    @apply bg-primary-100;
    @apply font-sans;
    @apply text-white;
    @apply p-3;
    @apply flex;
    @apply justify-center;
    @apply items-center;
    @apply transition-colors;
  }

  .primary-btn:hover,
  .primary-btn:active {
    @apply bg-primary-200;
    @apply transition-colors;
  }

  .primary-btn > span {
    @apply ml-1;
    @apply text-white;
  }
}
