@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body,
  #root {
    @apply overflow-hidden;
    height: 100vh;
    position: fixed;
  }

  body.dark {
    @apply bg-neutral-100;
  }

  .wrapper {
    grid-template-columns: 250px 100vw;
  }

  .sidebar {
    @apply visible;
    @apply opacity-100;
    @apply transition-opacity;
  }

  .menu-closed .wrapper .sidebar {
    @apply invisible;
    @apply opacity-0;
    @apply w-0;
    @apply h-0;
    @apply p-0;
    @apply m-0;
  }

  .menu-closed .wrapper {
    grid-template-columns: 0px 100vw;
  }

  .preview-open .preview {
    @apply block;
  }

  .preview-closed .preview {
    @apply hidden;
  }

  .preview {
    height: calc(100vh - 72px);
  }

  .preview-markdown {
    height: calc(100vh - 123px);
  }

  .preview-closed .markdown textarea {
    @apply block;
    min-height: calc(100vh - 123px);
  }

  .preview-open .markdown {
    @apply hidden;
  }

  @media (min-width: 768px) {
    .preview-closed .editor {
      @apply grid;
      @apply grid-cols-2;
    }

    .preview-closed .preview {
      @apply block;
      max-height: calc(100vh - 65px);
      @apply border-l;
      @apply border-neutral-800;
    }
  }

  :is(h1, h2, h3, h4, h5, h6) {
    @apply font-serif;
  }

  .dark :is(h1, h2, h3, h4, h5) {
    @apply text-white;
  }

  :is(h1, h3, h4, h5, h6) {
    @apply font-bold;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.75rem;
    @apply font-light;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  h5 {
    @apply text-base;
  }

  h6 {
    @apply text-sm;
    @apply text-primary-100;
  }
}

@layer components {
  .primary-btn {
    @apply border-none;
    @apply bg-primary-100;
    @apply font-sans;
    @apply text-white;
    @apply p-3;
    @apply flex;
    @apply justify-center;
    @apply items-center;
    @apply transition-colors;
  }

  .primary-btn:hover,
  .primary-btn:active {
    @apply bg-primary-200;
    @apply transition-colors;
  }

  .primary-btn:disabled {
    @apply bg-neutral-500;
  }

  .primary-btn > span {
    @apply ml-1;
    @apply text-white;
  }

  .preview-markdown > * + * {
    @apply mt-6;
  }

  .preview-markdown :is(p, li) {
    @apply text-neutral-600;
    @apply text-sm;
    @apply font-serif;
    @apply font-normal;
  }

  .preview-markdown :is(p, li) {
    @apply text-neutral-700;
  }

  .preview-markdown :is(ol, ul) {
    @apply ml-6;
  }

  .preview-markdown ol li {
    @apply list-decimal;
  }

  .preview-markdown ul li {
    @apply list-disc;
  }

  .preview-markdown ul li::marker {
    @apply text-primary-100;
  }

  .preview-markdown code {
    @apply text-neutral-400;
    @apply font-mono;
    @apply text-sm;
    @apply whitespace-pre-wrap;
  }

  .dark .preview-markdown code {
    @apply text-white;
  }

  .preview-markdown blockquote {
    @apply bg-neutral-900;
    @apply p-6;
    @apply border-l-4;
    @apply border-primary-100;
    @apply rounded-sm;
  }

  .dark .preview-markdown blockquote {
    @apply bg-neutral-300;
  }

  .preview-markdown blockquote p {
    @apply text-neutral-100;
    @apply font-bold;
  }

  .dark .preview-markdown blockquote p {
    @apply text-white;
  }

  .preview-markdown a {
    @apply underline-offset-2;
    @apply underline;
  }

  .preview-markdown pre {
    @apply bg-neutral-900;
    @apply p-6;
  }

  .dark .preview-markdown pre {
    @apply bg-neutral-300;
  }
}
